.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    background-color: $white;
}

[class*="__container"] {
    max-width: 1170px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: Roboto;
    font-weight: 400;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
